
body {
  background-color: rgb(21, 21, 136);
  color: white;
  font-size: 16px;
  margin: 0; /* Eliminamos el margen predeterminado del cuerpo */
  padding: 0; /* Eliminamos el relleno predeterminado del cuerpo */
}

/* Para centar*/
center {
  text-align: center;
}


#descripcion {
  margin: 20px; /* Margen externo */
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  max-width: 600px; /* Ancho para poder leer mejor */
}


#infoEquipos {
  border: 1px solid;
  margin: 20px 20px 20px 50px; /* Ajustamos los márgenes */
  float: center;
  vertical-align: top;
}


#infoEquipos tr td {
  padding: 10px; /* Ajustamos el relleno */
  text-align: left; /* Alineamos el texto a la izquierda */
}

a {
  color: green; 
  font-size: 18px; /* Tamaño de fuente */
  text-decoration: none;
  transition: color 0.3s;
}


a:hover {
  color: lightgreen; /* Cambio de color al pasar el mouse sobre el enlace */
}

footer {
  text-align: right;
   margin-inline-start: 80em;
   margin-inline-end: 1em;
   margin-block-start: 35em;
   margin-block-end: 1em;
  
}
th, td {                          /*Damos color al th y a td*/
  border:2px solid whitesmoke;
  padding: 8px;
}
th {
  text-align:left;
}
td{
  text-align:right;
}